<div class="container"><h1>Messages</h1>
<br>
  <% @messages.last(10).reverse_each do |message| %>
    <% if message.user != current_user %>
      <div class="message-container">
        <div class="d-flex justify-content-between">
          <div >
            <ul>
              <%= link_to chat_path(message.chat), class:"message-link" do%>
                <li><strong>Message from: <%= message.user.user_information.first_name %></strong></li>
                <li><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></li>
                <li><br></li>
                <li><%= message.content %></li>
              <% end %>
            </ul>
          </div>
          <div>
            <%= link_to "See Profile", user_information_path(message.user.user_information), class:"outline-button mx-3" %>
            <%= image_tag(src="https://avatars.githubusercontent.com/u/101401180?v=4", class: "avatar-message") %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
