<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-livecode.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" id="navbar-wrapper">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Raise Ticket", new_ticket_path, class: "btn nav-button", id: "nav-button-standart"%>
          </li>
          <li class="nav-item active">
            <%= link_to "Tickets", tickets_path, class: "btn nav-button" %>
          </li>
          <li class="nav-item" data-controller="navbar-subscription" data-navbar-subscription-user-id-value="<%= current_user.id %>">
            <%= link_to "Messages", messages_path, class: "btn nav-button", data: {action: "click->navbar-subscription#hideDot"} %>
            <span class="badge" data-navbar-subscription-target="dot"></span>
          </li>
          <%# <li class="nav-item"> %>
            <%#= link_to "Nickname", "#", class: "btn nav-button" %>
          <%# </li> %>
          <li class="nav-item dropdown">

            <% if current_user.email == "chloe@mail.com" %>
              <%= image_tag "https://avatars.githubusercontent.com/u/101401180?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% elsif current_user.email == "luciano@mail.com" %>
              <%= image_tag "https://avatars.githubusercontent.com/u/99960138?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% elsif current_user.email == "julius@mail.com" %>
              <%= image_tag "https://avatars.githubusercontent.com/u/101468948?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
                <%= image_tag "https://avatars.githubusercontent.com/u/101468948?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_information_path(current_user.id), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn nav-button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
