<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-status">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ticket resolved?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-start">
        <div>
            <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
            data-bs-dismiss="modal", class="btn standart-button">Done! :)</button>
        </div>
        <div class="px-3">
            <%= button_to "No :(", ticket_path(ticket), class: "btn outline-button",
            params: {:ticket => { :id => ticket.id, :status => "open"}},
            method: :put, data: { confirm: "Mark this To-Do as being completed?  This will hide it from view."
            } %>
        </div>
      </div>
      <div class="modal-footer">
        <p style="font-size: 12px">We would love to get your Feedback on your experience. Please take a second to review this Ticket! 🤗</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-status-closed">
      <div class="modal-header">
        <h5 class="modal-title modal-review-title" id="exampleModalToggleLabel2">Rate your experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div data-turbo="false">
          <%= simple_form_for [ticket, @review] do |f| %>
            <%= f.input :comment %>
            <%= f.input :score, collection: (1..5).to_a, label: "Rate your experience" %>
            <%= f.submit class: "btn outline-button"%>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
