<div class="container-chat">
  <div class="chatroom"
       data-controller="chat-subscription"
       data-chat-subscription-chat-id-value="<%= @chat.id %>"
       data-chat-subscription-user-id-value="<%= current_user.id %>"
  >

    <h1 id="chat-title">Start chatting
      <%# if @chat.user.first_name.nil? || @chat.ticket.user.first_name.nil? %>
        <%#= @chat.user == current_user ? @chat.ticket.user.id : @chat.user.id %>
      <%# else %>
        <%#= @chat.user == current_user ? @chat.ticket.user.first_name : @chat.user.first_name %>
      <%# end %>
    </h1>

    <div class="message-field">

      <div class="messages" data-chat-subscription-target="messages">
        <% @chat.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>

      <%= simple_form_for [@chat, @message], html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" }, class: "d-flex align-items-md-start"} do |f| %>
        <%= f.input :content, as: :string, label: false, placeholder: "Message for Chat Nr: #{@chat.id}", wrapper_html: {class: "flex-grow-1"} %>
        <%= f.submit "Send", class: "outline-button chat-button" %>
      <% end %>

    </div>

  </div>

  <div class="video-call"
    data-controller="video-call"
    data-video-call-access-token-value="<%= @twilio_jwt %>"
    data-video-call-room-id-value="<%= @room_id %>"
    data-video-call-buddy-video-width-value="200">

    <div class="chat-standard-button ">
      <% if current_user == @chat.ticket.user %>
        <div class="btn standart-button chat-standard-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Close the ticket?
        </div>
        <%= render 'status_modal', ticket: @chat.ticket %>
      <% else %>
        <%= link_to "All Tickets", tickets_path, class:"btn standart-button chat-standard-button" %>
      <% end %>
    </div>

    <div data-video-call-target="callView" class="call-video-views-default">
      <div class="remote-video" data-video-call-target="buddyVideo">
        <div class="no-call" data-video-call-target="noCall">Start the call!</div>
      </div>
      <div class="waiting-for-buddy d-none"
        data-video-call-target="awaitingBuddy">
      </div>
      <div id="local-video" data-video-call-target="localVideo"></div>
    </div>

    <div class="call-buttons">
      <div data-video-call-target="joinCallButton" class="btn outline-button btn-call-start" data-action="click->video-call#joinCall"><i class="fas fa-phone"></i>  Call</div>
      <div data-video-call-target="endCallButton" class="btn outline-button btn-call-end" data-action="click->video-call#endCall"><i class="fas fa-phone-slash"></i>  End call</div>
      <div data-video-call-target="screenShareButton" class="btn outline-button btn-call-share" data-action="click->video-call#shareScreenHandler">Share Screen</div>
    </div>
  </div>
</div>
