<div class="container chatroom">
  <h1>This is your chat with User Nr: <%= @chat.user == current_user ? @chat.ticket.user.id : @chat.user.id %></h1>

  <div class="messages">
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
