<div class="modal fade" id="ticket-modal-<%=ticket.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog d-flex">
    <div class="modal-content modalcard-edit">
      <div class="modal-header modalcard-element-size h-15">
        <h5 class="modal-title modalcard-element-size" id="exampleModalLabel"><%= ticket.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
                   <%#************************* TICKET INFORMATIUON ***************************** %>
      <div class="modal-body link-decoration-modal modalcard-element-size h-70">
        <div>
        <br>
          <ul class="show-ticket-list">
            <li><strong>Language: </strong><%= ticket.language %></li>
            <li><p><strong>User: </strong><%= ticket.user.user_information.first_name %> <%= ticket.user.user_information.last_name %></p></li>
            <li><strong>Email: </strong><%= ticket.user.email %></li>
            <li><strong>Status: </strong><%= ticket.status %></li>
            <br>
            <li><strong>Description:</strong></li>
            <div><p><%= ticket.content %></p></div>
          </ul>
          <br>
          <p>Created by: <a href=<%= user_information_path(ticket.user_id) %>  role="none" class="popover-test" title="Visit profile" data-bs-content="Popover body content is set in this attribute."><%= ticket.user.user_information.first_name %> <%= ticket.user.user_information.last_name %></a></p>
          </div>
      </div>
                  <%#***************************** FOOTER **************************************** %>
        <div class="modal-footer d-flex flex-row bd-highlight modalcard-element-size h-15">
                                                                   <%#***************************** BUTTONS ************************************** %>
          <div>
          <% if ticket.status == "open" && current_user != ticket.user %>
            <%= button_to "Accept this ticket", chats_path(ticket_id: ticket.id), class:"btn outline-button m-1", method: :post %>
          <% end %>

          <% if ticket.status == "in_progress" && current_user == ticket.user %>
            <%= link_to "Enter chat", chat_path(ticket.chat), class: "btn standart-button" %>
          <% end %>
          </div> 
          <div>
          <%= button_to "Destroy this ticket", ticket, class:"btn outline-button m-1", style:"float: right;", method: :delete if policy(ticket).destroy?%>
        
          <% if current_user != ticket.user %>
          <%#= link_to "Visit #{ticket.user.user_information.first_name} profile", user_information_path(ticket.user_id), class:"btn outline-button m-1", style:"float: right;" %>
          <% end %>
          </div> 
            <%#button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button%>
        </div>
                  <%#***************************************************************************** %>
    </div>
  </div>
</div> 
