<%# # dont forget to add submit button below the partial when reusing this partial - this one:
<a style="float: right;" class="btn tiny-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pen-to-square"></i></a> %>

<div class="modal fade" id="ticket-modal-edit-<%=ticket.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit your ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(ticket) do |f| %>
          <%= f.input :title, class:"form-item"%>
          <%= f.input :content, class:"form-item" %>
          <%= f.input :language,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: Ticket::LANGUAGES %>
          <%= f.submit class:"standart-button form-button" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn outline-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
