<div class="container">
  <div>
    <h1><strong>Tickets</strong></h1>
    <br>
    <p>Raise a ticket - kit your code</p>
    <%= link_to "Raise Ticket", new_ticket_path, class: "btn standart-button" %>
    <hr>
    <br>
  </div>

  <div class="search d-flex m-0">
    <div>
      <%= form_tag tickets_path, method: :get, class: "d-flex search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search Tickets"
        %>
        <%= submit_tag "Search", class: "btn outline-button" %>
      <% end %>
    </div>
  </div>

  <div class="index-container">
    <% @tickets.reverse_each do |ticket| %>
      <div class="ticket-link">
        <div class="ticket">
          <div class="top-area">
            <%= link_to ticket_path(ticket), style: "text-decoration: none;" do %>
              <p><%= ticket.user.email %></p>
              <h2><%= ticket.title %></h2>
            <% end %>
          </div>
          <div class="bottom-area">

            <div class="bottom-left">
              <% if policy(ticket).edit? %>
                <%= render 'modal', ticket: ticket %>
                <%# <%= link_to "Edit this ticket", edit_ticket_path(ticket), class: "btn  outline-button" %>
              <% end %>
              <% if policy(ticket).destroy? %>
                <%= link_to "Fixed it!", tickets_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "outline-button-delete" %>
              <% end %>
            </div>

            <div class="bottom-right">
              <p><%= ticket.language %></p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
