<h1><strong>Welcome to Livecode</strong></h1>
<br>
<p>Solve your coding problem</p>
<h2>Make a new Ticket</h2>
<%= button_to "New Ticket", new_ticket_path %>
<hr>
<br>



<div>
  <% @tickets.each do |ticket| %>
    <%= link_to ticket_path(ticket), class: "text-decoration-none link-dark" do %>
      <div>
        <%= ticket.title %>
        <%= ticket.content %>
        <%= ticket.user.email %>
        <br>
        <% if policy(ticket).edit? %>
          <%= link_to "Edit this ticket", edit_ticket_path(ticket) %>
        <% end %>
        <%= button_to "Destroy this ticket", ticket, method: :delete if policy(ticket).destroy? %>
        <br>
      </div>
    <% end %>  
  <% end %>
</div>
