<div class="container">
  <h2><strong>Tickets</strong></h2>
  <br>
  <p>Raise a ticket - kit your code</p>
  <%= link_to "New Ticket", new_ticket_path, class: "btn standart-button" %>
  <hr>
  <br>

  <div class="search d-flex">
    <h2 class="page-title"></h2>
    <%= form_tag tickets_path, method: :get, class: "d-flex search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What are you searching for?"
      %>
      <%= submit_tag "Search", class: "btn outline-button" %>
    <% end %>
  </div>

  <div class="index-container">
    <% @tickets.reverse_each do |ticket| %>
      <%= link_to ticket_path(ticket), class: "ticket-link" do %>
        <div class="ticket text-decoration-none">
          <h2><%= ticket.title %></h2>
          <p><%= ticket.user.email %></p>
          <p><%= ticket.language %></p>
          <br>
     <% end %>
     <% if policy(ticket).edit? %>
        <%= render 'modal', ticket: ticket %>
        <% if policy(ticket).destroy? %>
        <%= link_to "Fixed it!", tickets_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "outline-button-delete" %>
        <% end %>
        <br>
    </div>
     <% end %>
    <% end %>
  </div>
</div>
