<div class="container">

  <div>
    <h1>Raise a ticket and find your personal Livecoder</h1>
    <br>
  </div>

  <div class="d-flex justify-content-between">

    <div class="search d-flex m-0">
      <div>
        <%= form_tag tickets_path, method: :get, class: "d-flex search-bar" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search Tickets"
          %>
          <%= submit_tag "Search", class: "btn outline-button search-button"%>
        <% end %>
        <br>
      </div>
    </div>

    <div class="px-5">
      <%= link_to "Raise Ticket", new_ticket_path, class: "btn standart-button" %>
    </div>

  </div>

  <div class="index-container">

    <% @tickets.reverse_each do |ticket| %>
      <% if ticket.status == "open" %>

        <div class="ticket-link-open ticket-link" id="open">
          <div class="ticket">
            
              <a class="top-area" data-bs-toggle="modal" data-bs-target="#ticket-modal-<%=ticket.id%>">

                <div class="d-flex justify-content-between ticket-status">
                  <p id="username-index"><%= ticket.user.user_information.first_name %></p>
                  <p class="status-open-alignment"><%= ticket.status %><strong class="status-dot">&#8226;</strong></p>
                </div>

                <h2><%= ticket.title %></h2>

              </a>
       

            <div class="bottom-area">

              <div class="bottom-left">
                <% if policy(ticket).edit? %>
                  <a class="btn tiny-button" data-bs-toggle="modal" data-bs-target="#ticket-modal-edit-<%=ticket.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                <% end %>
                <% if policy(ticket).destroy? %>
                  <%= link_to ticket_path(ticket), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn tiny-button" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
              </div>

              <div class="bottom-right">
                <p><%= ticket.language %></p>
              </div>
            </div>

          </div>
        </div>

      <% elsif ticket.status == "in_progress" %>
        <div class="ticket-link ticket-link-in_progress" id="in_progress">
          <div class="ticket">
            <a class="top-area" data-bs-toggle="modal" data-bs-target="#ticket-modal-<%=ticket.id%>">
              <div class="d-flex justify-content-between ticket-status">
                <p id="username-index"><%= ticket.user.user_information.first_name %></p>
                <p class="status-in_progress-alignment">in progress<strong class="status-dot">&#8226;</strong></p>
              </div>

              <h2><%= ticket.title %></h2>
            </a>

            <div class="bottom-area">

              <div class="bottom-left">
                <% if @chat && @chat.ticket.user %>
                  <%= link_to "Enter chat", chat_path(@chat), class: "btn standart-button" %>
                <% end %>

                <% if policy(ticket).edit? %>
                  <a class="btn tiny-button" data-bs-toggle="modal" data-bs-target="#ticket-modal-edit-<%=ticket.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                  <%# <%= link_to "Edit this ticket", edit_ticket_path(ticket), class: "btn  outline-button" %>
                <% end %>

                <% if policy(ticket).destroy? %>
                  <%= link_to ticket_path(ticket), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn tiny-button" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
              </div>

              <div class="bottom-right">
                <p><%= ticket.language %></p>
              </div>

            </div>
          </div>
        </div>

      <% else %>

        <div class="ticket-link ticket-link-closed" id="closed">
          <div class="ticket">
              <a class="top-area" data-bs-toggle="modal" data-bs-target="#ticket-modal-<%=ticket.id%>">

                <div class="d-flex justify-content-between ticket-status">
                  <p id="username-index"><%= ticket.user.user_information.first_name %></p>
                  <p class="status-closed-alignment">closed<strong class="status-dot">&#8226;</strong></p>
                </div>

                <h2><%= ticket.title %></h2>
              </a>


            <div class="bottom-area">

              <div class="bottom-left">
                <% if policy(ticket).edit? %>
                  <a class="btn tiny-button" data-bs-toggle="modal" data-bs-target="#ticket-modal-edit-<%=ticket.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                  <%# <%= link_to "Edit this ticket", edit_ticket_path(ticket), class: "btn  outline-button" %>
                <% end %>

                <% if policy(ticket).destroy? %>
                  <%= link_to ticket_path(ticket), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn tiny-button" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
              </div>

              <div class="bottom-right">
                <p><%= ticket.language %></p>
              </div>

            </div>
          </div>
        </div>

      <% end %>
      <%= render 'modalcard', ticket: ticket %>
      <%= render 'modal', ticket: ticket %>
    <% end %>
  </div>
</div>
