<div class="container">
  <h2><strong>Tickets</strong></h2>
  <br>
  <p>Raise a ticket - kit your code</p>
  <%= link_to "New Ticket", new_ticket_path, class: "btn standart-button" %>
  <hr>
  <br>

  <div class="search d-flex">
    <h2 class="page-title"></h2>
    <%= form_tag tickets_path, method: :get, class: "d-flex search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What are you searching for?"
      %>
      <%= submit_tag "Search", class: "btn outline-button" %>
    <% end %>
  </div>

  <div class="index-container">
    <% @tickets.reverse_each do |ticket| %>
      <%= link_to ticket_path(ticket), class: "ticket-link" do %>
        <div class="ticket text-decoration-none">
          <h2><%= ticket.title %></h2>
          <p><%= ticket.user.email %></p>
          <p><%= ticket.language %></p>
          <br>
    <% end %>
          <% if policy(ticket).edit? %>
            <button style="float: right;" class="btn outline-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Your information profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <%= simple_form_for(ticket) do |f| %>
                        <%= f.input :title, class:"form-item"%>
                        <%= f.input :content, class:"form-item" %>
                        <%= f.input :status, class:"form-item" %>
                        <%= f.input :language,
                                  as: :radio_buttons,
                                  collection_wrapper_tag: 'div',
                                  collection_wrapper_class: 'category-wrapper',
                                  item_wrapper_class: 'category-item',
                                  input_html: {class: 'category-selector'},
                                  collection: Ticket::LANGUAGES %>
                        <%= f.submit class:"standart-button form-button" %>
                      <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <%#= link_to "Edit this ticket", edit_ticket_path(ticket), class: "btn outline-button" %>
          <% if policy(ticket).destroy? %>
          <%= link_to "Fixed it!", tickets_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "outline-button-delete" %>
          <% end %>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
