<div class="container">
  <div>
    <h1><strong>Tickets</strong></h1>
    <br>
    <p>Raise a ticket - kit your code</p>
    <%= link_to "Raise Ticket", new_ticket_path, class: "btn standart-button" %>
    <hr>
    <br>
  </div>

  <div class="search d-flex">
    <div>
      <%= form_tag tickets_path, method: :get, class: "d-flex search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search Tickets"
        %>
        <%= submit_tag "Search", class: "btn outline-button" %>
      <% end %>
    </div>
  </div>

  <div class="index-container">
    <% @tickets.reverse_each do |ticket| %>
    <div class="ticket-link">
      <%= link_to ticket_path(ticket) do %>

        <div class="ticket">
          <div class="top-area">
            <p><%= ticket.user.email %></p>
            <h2><%= ticket.title %></h2>
          </div>

          <div class="bottom-left">
              <% if policy(ticket).edit? %>
                <%= render 'modal', ticket: ticket %>
                <%# <%= link_to "Edit this ticket", edit_ticket_path(ticket), class: "btn  outline-button" %>
              <% end %>
              <% if policy(ticket).destroy? %>
              <%= link_to tickets_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn tiny-button" %>
              <% end %>
          </div>

          <div class="bottom-right">
            <p><%= ticket.language %></p>
          </div>

        </div>
       <% end %>
    </div>
    <% end %>
  </div>
</div>
