<h1>Ticket Show Page for Ticket Nr <%= @ticket.id %></h1>
  <% if policy(@ticket).edit? %>
    <%= link_to "Edit this ticket", edit_ticket_path(@ticket) %>
  <% else %>
    <%= link_to "Seeker profile", user_information_path(@ticket.user_id) %>
  <% end %>

<div>
      <ul>
        <li><%= @ticket.title %></li>
        <li><%= @ticket.user.user_information.first_name %></li>
        <li><%= @ticket.content %></li>
        <li><%= @ticket.user.email %></li>
        <% if current_user != @ticket.user %>
          <%= button_to "Accept this ticket", chats_path(ticket_id: @ticket.id), method: :post %>
        <% end %>
        <% if @chat && @chat.ticket.user %>
          <%= link_to "Enter chat", chat_path(@chat) %>
        <% end %>
        <br>
        <% if policy(@ticket).edit? %>
        <% end %>
        <br>
      </ul>
</div>


<%= button_to "Destroy this ticket", @ticket, method: :delete if policy(@ticket).destroy? %>
<%= link_to "Show all tickets", tickets_path %>
